<!--
  Copyright (c) 2020 Eclipse Foundation, Inc.

  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  Contributors:
    Martin Lowe <martin.lowe@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

{{ $id := .Get "id" | default "featured-story-container" }}
{{ $templateId := .Get "templateId" }}
{{ $projectIds :=  .Get "projectIds" }}
{{ $url :=  .Get "url" }}
{{ $classes :=  .Get "classes" }}
{{ $categories :=  .Get "categories" | default "" }}
{{ $projectLeads :=  .Get "projectLeads" | default "" }}

<section id="wg-projects" class="container featured-section featured-section-projects featured-section-projects-home" data-filter-wg="{{ $.Site.Params.projects_working_group }}">
  <div class="row">
    <div id="projects-list" class="col-md-18 col-md-offset-3">
      <h2 id="projects" class="brand-primary text-center heading-underline">Featured Projects</h2>
        <ul class="featured-projects-home list-inline list {{ $classes }}"
            id="{{ $id }}"
            data-project-ids="{{ $projectIds }}"
            data-template-id="{{ $templateId }}"
            data-url="{{ $url }}"
            data-project-leads="{{ $projectLeads }}"></ul>
    </div>
  </div>
  <p class="text-center margin-top-30">
    <a href="/projects" class="btn btn-primary">View All Projects</a>
  </p>
</section>
